/* COMMON */
* {
	box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.page {
  height: 100%;
  width: 100%;
  background-image: url(../images/anonymous-server-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}




/* HEADER */
.page__header {}
.nav-trigger {
  height: 40px;
  width: 40px;
  background-image: url(../images/ico-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-indent: -9000px;
  border-style: none;
  background-color: black;


}




/* MENU */
.nav {
height: 150px;
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.nav-hidden {
  display: none;
}
.nav__items {
  list-style: none;

}
.nav__item {

}
.nav__link {
    text-decoration: none;
    color: white;
}
.nav-close {
height: 40px;
width: 40px;
background-image: url(../images/ico-close.svg);
background-repeat: no-repeat;
background-position: center;
background-size: auto;
text-indent: -9000px;
border-style: none;
background-color: black;
}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
